<div class="modal-header">
	<h3 class="modal-title">Mattermark Import</h3>
</div>
<div class="modal-body fiUpload fiModal">
	<uib-tabset active="vm.active">
		<uib-tab index="0" heading="Notice" disable="true">
			<p style="margin-top: 20px">The FI-IMPACT surveys and projects database can be supplemented by company data provided by Mattermark. In order to add Mattermark data you will need a subscription to Mattermark and a pre-created custom list of FI companies already pre-created there.</p>
			<p>Before continuing, please prepare the Mattermark export file as follows:</p>
			<ol>
				<li>Launch Google Chrome, as the Mattermark Export functionality does not work in other browsers</li>
				<li>Log in to the Mattermark web site: <a href="https://mattermark.com/">mattermark.com</a></li>
				<li>Go to &quot;Lists&quot;/&quot;All lists&quot;</li>
				<li>Select &quot;FIIMPACTSANITISED&quot;</li>
				<li>In the upper right corner select &quot;Export&quot;/&quot;Export All to CSV&quot;</li>
				<li>Note the place where the file is saved (eg. by using &quot;Show in folder&quot; next to the file name)</li>
				<li>Click &quot;Continue&quot; in this dialog</li>
			</ol>     
		</uib-tab>
		<uib-tab index="1" heading="Choose file" disable="true">
			<p style="margin-top: 20px">Select the Mattermark export CSV file and click &quot;Upload File&quot;.</p>
			<input type="file" name="file" file-model="vm.file" />
		</uib-tab>
		<uib-tab index="2" heading="Uploading" disable="true">
			<div role="tabpanel" class="tab-pane" id="tabUpload">
				<p style="margin-top: 20px">Please wait, uploading and importing Mattermark company info.</p>
				<p class="text-center"><i class="fa fa-spinner fa-pulse fa-5x fa-fw margin-bottom"></i><span class="sr-only">Uploading...</span></p>
			</div>
		</uib-tab>
		<uib-tab index="3" heading="Review" disable="true">
			<div style="margin-top: 20px">
				<p style="margin-top: 20px">Done! Company info successfully loaded.</p>
				<p>Click &quot;Done&quot; to close this dialog.</p>
				<ul><li ng-repeat="info in vm.uploadResponse"><span ng-repeat="(key, value) in info">{{vm.clearUnderscores(key)}}: {{value}}</span></li></ul>
			</div>
		</uib-tab>
	</uib-tabset>
</div>
<div class="modal-footer" ng-hide="vm.active == 2">
	<a class="btn btn-default cancel" ng-click="vm.dismiss()" ng-hide="vm.active == 3">Cancel</a>
	<a class="btn btn-primary" ng-click="vm.action(vm.active)">{{vm.uploadButton[vm.active]}}</a>
</div>