<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>FI-IMPACT Survey Reporting Service</display-name>
	<context-param>
		<param-name>import-dir</param-name>
		<param-value>E:\Dropbox\FI-IMPACT\data\FI-IMPACT_Export_20150624</param-value>
	</context-param>
	<context-param>
		<param-name>export-file</param-name>
		<param-value>D:\server\Tomcat7\webapps\fi-impact-test\WEB-INF\transfer\export.txt</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>
            index.html
        </welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>RequestHandler</servlet-name>
		<servlet-class>si.ijs.ailab.fiimpact.FIImpactRequestHandler</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestHandler</servlet-name>
		<url-pattern>/service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManagerRequestHandler</servlet-name>
		<servlet-class>si.ijs.ailab.fiimpact.FIImpactSecureRequestHandler</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerRequestHandler</servlet-name>
		<url-pattern>/manager</url-pattern>
	</servlet-mapping>
	
<security-constraint>
		<web-resource-collection>
			<web-resource-name>Maangement methods</web-resource-name>
			<url-pattern>/manager/*</url-pattern>
			<url-pattern>/ui/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>fiimpact</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>	
</web-app>
