<!DOCTYPE html>
<html lang="en" ng-app="fiBenchmarkApp"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="JSI">
	<link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../../img/favicon.ico" type="image/x-icon">

    <title>FI-Impact Report</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!-- Optional includes -->
	<link href="../../css/nv.d3.min.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="../../css/agency.css" rel="stylesheet" type="text/css">
	<link href="../../css/fi-impact.css" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link href="../../css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../../css/googlefonts.css" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index" ng-controller="fiGraphs as vm" ng-cloak>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">FI-IMPACT Benchmarking</a> <a class="navbar-brand page-scroll fi-switch" ng-href="report.html?id={{vm.id}}"><i class="fa fa-arrow-right fa-sm" aria-hidden="true"></i> Report</a>
            </div>

						<!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
									<li><a class="page-scroll" target="_blank" href="https://github.com/JozefStefanInstitute/fi-impact/wiki/Advanced%20Benchmarking%20Report"><i class="fa fa-question" aria-hidden="true"></i></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

	<!-- Filters -->
    <section id="filters"><div class="container">
		<div class="row">
			<div class="col-md-3">
				<p><strong>Selected project</strong></p>
				<span class="symbol fi-selected" ng-style="{'color': vm.selected.nodeColor}" ng-bind-html="vm.symbolLegend[vm.selected.nodeShape].code"></span> {{vm.selected.info.Q1_4}}

			</div>
			<div class="col-md-3">
				<p><strong>Performance level</strong></p>
				<div class="checkbox" ng-repeat="(type, object) in vm.legend.type" ng-hide="type == 'SELECTED'">
					<label class="legend-checkboxes">
						<span class="symbol" ng-style="{'color': vm.getTypeColor(object)}" ng-bind-html="vm.symbolLegend[vm.symbols[object.index]].code"></span>
						<span class="legend-checkbox"><input type="checkbox" ng-model="object.checked" ng-change="vm.plotChart()"> {{type}}</span>
					</label>
				</div>
			</div>
			<div class="col-md-6">
				<p><strong>Subgrantee property</strong></p>
				<select class="form-control"
					ng-model="vm.filter"
					ng-options="selection.label for selection in vm.legend.selections track by selection.field"
					ng-change="vm.plotChart()"></select>
			</div>
		</div>
		<div class="row" style="padding-top: 2em;">
			<div class="col-md-8">
				<uib-tabset active="active" justified="true">
					<uib-tab index="0" heading="Performance analysis" select="vm.showPlot('scatter')"></uib-tab>
					<uib-tab index="1" heading="Analysis by similarity" id="similarity" select="vm.showPlot('similarity')"></uib-tab>
				</uib-tabset>
				<p ng-if="vm.active == 'scatter'" class="vspace">This graph shows the selected project's position in relation to other projects (including HPI and use-cases) across a selection of performance indicators and questionnaire attributes.</p>
				<p ng-if="vm.active == 'similarity'" class="vspace">This graph displays a fuzzy similarity of projects.  This similarity measure takes into account the project description (abstract), FI-WARE technology used, team competences, geographical distribution, market distribution/targeting, etc.</p>
				<div class="fi-plot" id="scatterplot">
					<div class="form-group vspace">
						<label for="chooseSlice" class="col-sm-5 control-label text-right">Performance indicators</label>
						<div class="col-sm-7">
							<select class="form-control"
								ng-model="vm.scatter.slice"
								ng-options="slice.abscissa.label + ' - ' + slice.ordinate.label for slice in vm.legend.slices track by slice.index"
								ng-change="vm.plotChart()"></select>
						</div>
					</div>
					<svg viewBox="0 0 700 700" style="margin: 0px; padding: 0px; height: 95%; width: 95%"></svg>
				</div>
				<div class="fi-plot" id="similarityplot" style="width:800px; height:600px;"></div>
			</div>
			<div class="col-md-4" >
				<ul class="legend-list" ng-if="vm.filter.displayType == 'list'">
					<li ng-repeat="(option, object) in vm.filter.dictionary"><i class="fa fa-square" aria-hidden="true" ng-style="{'color': vm.colors[object.index]}"></i> {{object.label}}</li>
				</ul>
				<ul class="legend-list-checkbox" ng-if="vm.filter.displayType == 'checkbox'">
					<li ng-repeat="(option, object) in vm.filter.dictionary">
						<div class="checkbox">
							<label><i class="fa fa-square" aria-hidden="true" ng-style="{'color': vm.getColor(object)}"></i> <span><input type="checkbox" ng-disabled="object.label == 'NA'" ng-model="object.checked" ng-change="vm.plotChart()"> {{object.label}}</span></label>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div></section>

    <!-- Partners -->
	<aside class="clients"><div class="container"><hr id="partners"><div class="row">
		<div class="col-md-2 col-sm-6"><a href="http://idcitalia.com/ita/" target="_blank"><img style="margin-left: 0px; margin-right: 10px;" src="../../css/IDC_logo_4.png" alt="" width="120" height="57" /></a></div>
		<div class="col-md-2 col-sm-6"><a href="http://www.idg.co.uk/" target="_blank"><img style="margin-left: 10px; margin-right: 10px;" src="../../css/IDG_Communications1_3.jpg" alt="" width="120" height="35" /></a></div>
		<div class="col-md-2 col-sm-6"><a href="http://www.bluegreenstrategy.com/" target="_blank"><img style="margin-left: 10px; margin-right: 10px;" src="../../css/logotipo_bluegreen_04_v02_small_3.png" alt="" width="150" height="34" /></a></div>
		<div class="col-md-2 col-sm-6"><a href="http://www.iimg.com" target="_blank"><img style="margin-left: 10px; margin-right: 10px;" src="../../css/iimc.gif" alt="" width="138" height="36" /></a></div>
		<div class="col-md-2 col-sm-6"><img style="margin-left: 10px; margin-right: 10px;" src="../../css/SFC_2.jpg" alt="" width="150" height="50" /></div>
		<div class="col-md-2 col-sm-6"><a href="http://ailab.ijs.si/" target="_blank"><img style="margin-left: 10px; margin-right: 0px;" src="../../css/jsi_logo_2.png" alt="" width="150" height="43" /></a></div>
	</div></div></aside>
    <footer><div class="container"><div class="row"><div class="col-md-12">
		<span class="copyright">Copyright &copy; FI-Impact 2015</span>
	</div></div></div></footer>

	<!-- START SIGMA IMPORTS -->
	<script src="../../sigmajs/src/sigma.core.js"></script>
	<script src="../../sigmajs/src/conrad.js"></script>
	<script src="../../sigmajs/src/utils/sigma.utils.js"></script>
	<script src="../../sigmajs/src/utils/sigma.polyfills.js"></script>
	<script src="../../sigmajs/src/sigma.settings.js"></script>
	<script src="../../sigmajs/src/classes/sigma.classes.dispatcher.js"></script>
	<script src="../../sigmajs/src/classes/sigma.classes.configurable.js"></script>
	<script src="../../sigmajs/src/classes/sigma.classes.graph.js"></script>
	<script src="../../sigmajs/src/classes/sigma.classes.camera.js"></script>
	<script src="../../sigmajs/src/classes/sigma.classes.quad.js"></script>
	<script src="../../sigmajs/src/classes/sigma.classes.edgequad.js"></script>
	<script src="../../sigmajs/src/captors/sigma.captors.mouse.js"></script>
	<script src="../../sigmajs/src/captors/sigma.captors.touch.js"></script>
	<script src="../../sigmajs/src/renderers/sigma.renderers.canvas.js"></script>
	<script src="../../sigmajs/src/renderers/sigma.renderers.webgl.js"></script>
	<script src="../../sigmajs/src/renderers/sigma.renderers.svg.js"></script>
	<script src="../../sigmajs/src/renderers/sigma.renderers.def.js"></script>
	<script src="../../sigmajs/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
	<script src="../../sigmajs/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
	<script src="../../sigmajs/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
	<script src="../../sigmajs/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
	<script src="../../sigmajs/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
	<script src="../../sigmajs/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
	<script src="../../sigmajs/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
	<script src="../../sigmajs/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
	<script src="../../sigmajs/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
	<script src="../../sigmajs/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
	<script src="../../sigmajs/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
	<script src="../../sigmajs/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
	<script src="../../sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
	<script src="../../sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
	<script src="../../sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
	<script src="../../sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
	<script src="../../sigmajs/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
	<script src="../../sigmajs/src/renderers/svg/sigma.svg.utils.js"></script>
	<script src="../../sigmajs/src/renderers/svg/sigma.svg.nodes.def.js"></script>
	<script src="../../sigmajs/src/renderers/svg/sigma.svg.edges.def.js"></script>
	<script src="../../sigmajs/src/renderers/svg/sigma.svg.edges.curve.js"></script>
	<script src="../../sigmajs/src/renderers/svg/sigma.svg.labels.def.js"></script>
	<script src="../../sigmajs/src/renderers/svg/sigma.svg.hovers.def.js"></script>
	<script src="../../sigmajs/src/middlewares/sigma.middlewares.rescale.js"></script>
	<script src="../../sigmajs/src/middlewares/sigma.middlewares.copy.js"></script>
	<script src="../../sigmajs/src/misc/sigma.misc.animation.js"></script>
	<script src="../../sigmajs/src/misc/sigma.misc.bindEvents.js"></script>
	<script src="../../sigmajs/src/misc/sigma.misc.bindDOMEvents.js"></script>
	<script src="../../sigmajs/src/misc/sigma.misc.drawHovers.js"></script>
	<!-- END SIGMA IMPORTS -->
	<script src="../../sigmajs/plugins/sigma.renderers.customShapes/shape-library.js"></script>
	<script src="../../sigmajs/plugins/sigma.renderers.customShapes/sigma.renderers.customShapes.js"></script>
	<script src="../../sigmajs/plugins/sigma.layout.forceAtlas2/worker.js"></script>
	<script src="../../sigmajs/plugins/sigma.layout.forceAtlas2/supervisor.js"></script>

	<!-- Core JavaScript -->
    <script src="../../js/jquery.min.js"></script>
	<script src="../../js/angular.min.js"></script>
	<script src="../../js/angular-sanitize.min.js"></script>
	<script src="../../js/ui-bootstrap-tpls-1.3.3.min.js" type="text/javascript"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../js/ie10-viewport-bug-workaround.js"></script>
    <!-- Plugin JavaScript -->
    <script src="../../js/jquery.easing.min.js"></script>
    <script src="../../js/classie.js"></script>
	<!-- Optional includes -->
	<script type="text/javascript" src="../../js/d3.min.js"></script>
	<script type="text/javascript" src="../../js/nv.d3.min.js"></script>
	<!-- FI-Impact JavaScript -->
	<script type="text/javascript" src="../../js/fiBenchmarking.js"></script>

</body>

</html>
