<!DOCTYPE html>
<html lang="en" ng-app="fiManagerApp"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../../img/favicon.ico" type="image/x-icon">

    <title>FI-Impact Admin</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- Optional includes -->
	<link rel="stylesheet" href="../../css/jquery.tablesorter.pager.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../css/theme.css" rel="stylesheet">
	<link rel="stylesheet" href="../../css/theme.blue.css" rel="stylesheet">
	<link rel="stylesheet" href="../../css/visualisations.css" rel="stylesheet">
	<!-- External CSS -->
	<link rel="stylesheet" href="../../css/font-awesome.min.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets../../js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../js/ie-emulation-modes-warning.js"></script> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body role="document" ng-controller="fiProjects" ng-cloak>
  
    <div class="container theme-showcase" role="main">
		
		<div  style="height: 160px;"><img src="../../css/fi-impact.png"></div>
		 <!-- background: top left url('css/fi-impact.png') no-repeat; -->
    	<div class="jumbotron">
			<h1>Projects Overview</h1>
			<div class="pull-right">
				<i class="fa fa-user" aria-hidden="true"></i> {{profile.user}} <span ng-if="profile.accelerator.length > 0"><i class="fa fa-building-o" aria-hidden="true"></i> {{profile.accelerator}}</span>
				<div class="btn-group" role="group" style="margin-left: 10px">
					<button id="btnUpload" data-toggle="modal" data-target="#uploadModal" type="button" class="btn" ng-class="{'btn-primary': access('upload'), 'btn-secondary': !access('upload')}" ng-disabled="!access('upload')" ng-click="uploadModal()">Upload</button>
					<div class="btn-group">
						<a class="btn" ng-class="{'btn-primary': access('export'), 'btn-secondary': !access('export')}" ng-disabled="!access('export')" href="../../manager?action=export&type=short">Export</a>
						<button type="button" class="btn dropdown-toggle" ng-class="{'btn-primary': access('export'), 'btn-secondary': !access('export')}" ng-disabled="!access('export')" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="../../manager?action=export&type=short" title="Basic project info with KPIs">Basic</a></li>
							<li><a href="../../manager?action=export&type=full-no-derived" title="Surveys, KPIs, projects info, Mattermark data and indicators">Full</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="../../manager?action=legend" title="Legend">Legend</a></li>
							<li role="separator" class="divider"></li>
							<li class="disabled">accelerators</li>
							<li ng-repeat="a in accelerators"><a ng-href="../../manager?action=export&type=accelerator&id={{a}}" title="Filtered by accelerator, basic project info with KPIs">{{a}}</a></li>
						</ul>
					</div>
				</div>
				<a id="btnUsers" type="button" class="btn" ng-class="{'btn-primary': access('user-management'), 'btn-secondary': !access('user-management')}" ng-disabled="!access('user-management')" href="users.html">Manage users</a>
				<div class="btn-group" role="group" style="margin-left: 10px">
					<button id="btnUpload" data-toggle="modal" data-target="#pwdModal" type="button" class="btn btn-primary" ng-click="changePassword()">Change password</button>
					<a class="btn btn-primary" href="../../logout.jsp">Logout</a>
				</div>
			</div>
		</div>
		
        <table id="listing" class="table table-striped">
			<thead><tr><th>Project</th><th>Feasibility</th><th>Innovation</th><th>Market</th><th>Market Needs</th><th>Mattermark Growth</th>
				<th>Accelerator</th><th>Organisation</th><th>Country</th></tr></thead> 
            <tbody><tr ng-repeat="s in surveys"><td><a href="../../ui/user/report.html?id={{s.id_internal}}">{{s.Q1_4}}</a>
				<div ng-bind-html="s.lineChart | sanitize"></div></td>
				<td class="textRight">{{s.feasibility}}%</td><td class="textRight">{{s.innovation}}%</td><td class="textRight">{{s.market}}%</td><td class="textRight">{{s.business}}%</td>
				<td class="textRight">{{s.mattermark}}%</td>
				<td>{{s.Q1_1}}</td><td>{{s.Q1_3}}</td><td>{{s.Q1_2}}</td></tr></tbody>
        </table>
		
		<!-- pager --> 
		<div class="pager">
			<i class="first fa fa-angle-double-left"></i>	<i class="prev fa fa-angle-left"></i>
			<span class="pagedisplay"></span> <!-- this can be any element, including an input -->
			<i class="next fa fa-angle-right"></i>	<i class="last fa fa-angle-double-right"></i>
			<select class="gotoPage" title="Select page number"></select>
		</div>

		<p style="text-align: center;">	<a href="http://idcitalia.com/ita/" target="_blank"><img style="margin-left: 0px; margin-right: 10px;" src="../../css/IDC_logo_4.png" alt="" width="120" height="57" /></a>
			<a href="http://www.idg.co.uk/" target="_blank"><img style="margin-left: 10px; margin-right: 10px;" src="../../css/IDG_Communications1_3.jpg" alt="" width="120" height="35" /></a>
			<a href="http://www.bluegreenstrategy.com/" target="_blank"><img style="margin-left: 10px; margin-right: 10px;" src="../../css/logotipo_bluegreen_04_v02_small_3.png" alt="" width="150" height="34" /></a>
			<a href="http://www.iimg.com" target="_blank"><img style="margin-left: 10px; margin-right: 10px;" src="../../css/iimc.gif" alt="" width="138" height="36" /></a>
			<img style="margin-left: 10px; margin-right: 10px;" src="../../css/SFC_2.jpg" alt="" width="150" height="50" />
			<a href="http://ailab.ijs.si/" target="_blank"><img style="margin-left: 10px; margin-right: 0px;" src="../../css/jsi_logo_2.png" alt="" width="150" height="43" /></a></p>
	  
    </div>

	<div id="uploadModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header"><h4 class="modal-title">Mattermark Import</h4></div>
			<div class="modal-body">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" ng-class="{'active': uploadTab == 'tabNotice'}"><a>Notice</a></li>
					<li role="presentation" ng-class="{'active': uploadTab == 'tabFile'}"><a>Choose file</a></li>
					<li role="presentation" ng-class="{'active': uploadTab == 'tabUpload'}"><a>Uploading</a></li>
					<li role="presentation" ng-class="{'active': uploadTab == 'tabReview'}"><a>Review</a></li>
				</ul>

				  <!-- Tab panes -->
				  <div class="tab-content">
					<a id="autoContinue" style="display: none" href="#tabReview" aria-controls="tabReview" role="tab" data-toggle="tab"></a>
					<div role="tabpanel" class="tab-pane active" id="tabNotice">
						<p style="margin: 20px 0;">The FI-IMPACT surveys and projects database can be supplemented by company data provided by Mattermark. In order to add Mattermark data you will need a subscription to Mattermark and a pre-created custom list of FI companies already pre-created there.</p>
						<p>Before continuing, please prepare the Mattermark export file as follows:</p>
						<ol>
							<li>Launch Google Chrome, as the Mattermark Export functionality does not work in other browsers</li>
							<li>Log in to the Mattermark web site: <a href="https://mattermark.com/">mattermark.com</a></li>
							<li>Go to &quot;Lists&quot;/&quot;All lists&quot;</li>
							<li>Select &quot;FIIMPACTSANITISED&quot;</li>
							<li>In the upper right corner select &quot;Export&quot;/&quot;Export All to CSV&quot;</li>
							<li>Note the place where the file is saved (eg. by using &quot;Show in folder&quot; next to the file name)</li>
							<li>Click &quot;Continue&quot; in this dialog</li>
						</ol>     
						<a class="btn btn-default cancel" data-dismiss="modal">Cancel</a>
						<a class="btn btn-primary" href="#tabFile" aria-controls="tabFile" role="tab" data-toggle="tab" ng-click="toggleTab('tabFile')">Continue</a>
					</div>
					<div role="tabpanel" class="tab-pane" id="tabFile">
						<p>Select the Mattermark export CSV file and click &quot;Upload File&quot;.</p>
						<form name="upload" class="form-control-file">
							<input id="uploadInput" type="file" name="file" class="file" file-model="dataFile" />	
						</form>
						<a class="btn btn-default cancel" href="#tabNotice" aria-controls="tabNotice" role="tab" data-toggle="tab" ng-click="toggleTab('tabNotice')" data-dismiss="modal">Cancel</a>
						<a class="btn btn-primary" href="#tabUpload" aria-controls="tabUpload" role="tab" data-toggle="tab" ng-click="uploadFile()">Upload File</a>
					</div>
					<div role="tabpanel" class="tab-pane" id="tabUpload">
						<div role="tabpanel" class="tab-pane" id="tabUpload">
							<p>Please wait, uploading and importing Mattermark company info.</p>
							<p class="text-center"><i class="fa fa-spinner fa-pulse fa-5x fa-fw margin-bottom"></i><span class="sr-only">Uploading...</span></p>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="tabReview">
						<div ng-show="uploadResult.success">
							<p>Done! Company info successfully loaded.</p>
							<p>Click &quot;Done&quot; to close this dialog.</p>
							<ul><li ng-repeat="info in uploadResult.data"><span ng-repeat="(key, value) in info">{{clearUnderscores(key)}}: {{value}}</span></li></ul>
						</div>
						<ul ng-show="!uploadResult.success">
							<li ng-repeat="info in uploadResult.data"><span ng-repeat="(key, value) in info">{{clearUnderscores(key)}}: {{value}}</span></li>
						</ul>
						<a class="btn btn-primary" href="#tabNotice" aria-controls="tabNotice" role="tab" data-toggle="tab" ng-click="toggleTab('tabNotice')" data-dismiss="modal">Done</a>
					</div>
				  </div>
				
			</div>	
		</div>

	  </div>
	</div>
	
	<div id="pwdModal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header"><h4 class="modal-title">Change password</h4></div>
			<div class="modal-body">
				<form class="form-horizontal" enctype="application/x-www-form-urlencoded">
					<div class="form-group">
						<label for="oldPassword" class="col-sm-4 control-label">Old password</label>
						<div class="col-sm-8"><input type="password" ng-model="password.old" class="form-control" id="oldPassword" name="password-old" ng-click="hideAlerts()"></div>
					</div>
					<div class="alert alert-danger" ng-show="pwdAlert.enterOld" role="alert">Please enter your current password</div>
					<div class="form-group">
						<label for="newPassword" class="col-sm-4 control-label">New password</label>
						<div class="col-sm-8"><input type="password" ng-model="password.new" class="form-control" id="newPassword" name="password-new" ng-click="hideAlerts()"></div>
					</div>
					<div class="alert alert-danger" ng-show="pwdAlert.enterNew" role="alert">Please enter your new password</div>
					<div class="alert alert-danger" ng-show="pwdAlert.oldNew" role="alert">Your new password must be different from the current one</div>
					<div class="form-group">
						<label for="repeatPassword" class="col-sm-4 control-label">Repeat new password</label>
						<div class="col-sm-8"><input type="password" ng-model="password.repeat" class="form-control" id="repeatPassword" name="password-repeat" ng-click="hideAlerts()"></div>
					</div>
					<div class="alert alert-danger" ng-show="pwdAlert.enterRepeat" role="alert">Please repeat the new password</div>
					<div class="alert alert-danger" ng-show="pwdAlert.newRepeat" role="alert">The repeated password does not match the new password</div>
					<div class="alert alert-danger" ng-show="pwdAlert.failedChange" role="alert">{{pwdResponse}}</div>
					<div class="alert alert-success" ng-show="pwdAlert.success" role="alert">Password changed</div>
					<div class="text-center"><button id="closePwdChange" class="btn btn-default cancel" ng-click="password.old = ''" data-dismiss="modal">Cancel</button><button class="btn btn-primary" type="submit" ng-click="changePwd()"/>Change</button></div>
				</form>
			</div>	
		</div>

	  </div>
	</div>

    <!-- Core JavaScript -->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../js/ie10-viewport-bug-workaround.js"></script>
	<!-- Optional includes -->
	<script type="text/javascript" src="../../js/jquery.min.js"></script> 
	<script type="text/javascript" src="../../js/jquery.tablesorter.min.js"></script> 
	<script type="text/javascript" src="../../js/jquery.tablesorter.pager.min.js"></script>
	<!-- D3 JavaScript -->
	<script src="../../js/d3.min.js"></script>
	<script src="../../js/fiUtility.js"></script>
	<script src="../../js/fiModel.js"></script>
	<script src="../../js/fi.js"></script>
	<script src="../../js/fiCtrlManager.js"></script>
	<script>
		$(document).ready( function() {
			$("#listing").tablesorter(fiTableSorter).tablesorterPager(fiTableSorterPager);
		});
	</script>

</body></html>