#project, #innovation, #feasibility, #market, #marketNeeds {
	background-repeat: none;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	border-bottom: 1px solid #555;
}
#project .container, #overview .container  {
	padding-top: 1em;
	border-radius: 5px;
}
#project .container  { background-color: #E3EAFF; }
#project .table-striped { background: rgba(220, 220, 220, .3); }
#project .table-striped > tbody > tr:nth-of-type(odd) { background: rgba(250, 250, 250, .7); }
#innovation { background-image:url('../img/lightbulbs.jpg'); }
#feasibility { background-image:url('../img/currency.jpg'); }
#overview { background-color: #000; margin-bottom: 50px; }
#overview .container  { color: #fff; background-color: rgba(250, 250, 250, .3) }
#overview .section-subheading { color: #fff; }
#overview text { fill: #ccc; }
#overview .axis text { fill: #fff; }
#market, #marketNeeds { background-color: #93A8C4; }
.onBg { background-color: rgba(250, 250, 250, .7); padding-top: 1em; border-radius: 5px; }

#marketNeeds table { font-size: 0.9em; }
#marketNeeds td { padding-top: 2px; padding-bottom: 2px; color: #555; }
.mnScore {
	background-color: rgba(249, 249, 249, .5); 
	border-radius: 5px;
	text-align: center;
	padding: 10px;
}
#socialImpact { background-image:url('../img/people.jpg'); }

section h3.section-subheading { margin-bottom: 5px; text-align: left; }
section ol { margin-top: 10px; padding-left: 10px; text-align: left; }
.table-striped { background: rgba(249, 249, 249, .5); text-align: left; }
.mnSector h3 { text-align: center; margin-top: 1em; color: #1F71AB; }
.mnSector .theScore {
	font-size: 3em;
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	color: #36abfe;
}

.radarBody { float: left; position: relative; }
.radarLegend { position: absolute; right: 0; width: 130px; text-align: left; }
.radarLegend .fa { margin-right: 10px; }
.radarLegend .color0 { color: rgb(49, 130, 189); }
.radarLegend .color1 { color: rgb(107, 174, 214); }
.axisLegend { margin: 0; }
.axisLegend span { font-weight: bold; }

.chart-density {
	color: white;
}

hr#partners {
	padding: 0; border: none; border-top: 1px solid #ccc; color: #ccc; text-align: center;
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
hr#partners:after {
	content: "Partners";
	display: inline-block; position: relative;  top: -0.7em; font-size: 1.5em; padding: 0 1em; background: white;
}