<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>FI-IMPACT Survey Reporting Service</display-name>
	<listener>
		<listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
	</listener>
	<context-param>
		<param-name>upload-dir</param-name>
		<param-value>E:\server\Tomcat7\webapps\fi-impact\WEB-INF\upload</param-value>
	</context-param>
	<context-param>
		<param-name>digest</param-name>
		<param-value>MD5</param-value>
	</context-param>
	<context-param>
		<param-name>temp-upload-dir</param-name>
		<param-value>E:\server\Tomcat7\webapps\fi-impact\WEB-INF\tmp</param-value>
	</context-param>
	<context-param>
		<param-name>qMinerUrl</param-name>
		<param-value>http://localhost:3000/</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>
            index.html
        </welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>RequestHandler</servlet-name>
		<servlet-class>si.ijs.ailab.fiimpact.servlet.FIImpactRequestHandler</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestHandler</servlet-name>
		<url-pattern>/service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManagerRequestHandler</servlet-name>
		<servlet-class>si.ijs.ailab.fiimpact.servlet.FIImpactSecureRequestHandler</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerRequestHandler</servlet-name>
		<url-pattern>/manager</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Maangement methods</web-resource-name>
			<url-pattern>/manager/*</url-pattern>
			<url-pattern>/ui/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>fiimpact</role-name>
		</auth-constraint>
		<!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
		<!--<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>-->
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Form autenthication</realm-name>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/error.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>fiimpact</role-name>
	</security-role>
</web-app>
